<h1>Where I would love to go, my bucket list.</h1>
<ul>
  <% @cities.each do |city| if city.wish_list == 1%>
  <li>
  <p><%= city.name() %> in <%= city.country %>, <%= city.continent %>.</p>
  <form action="/my-bucket-list<%=city.id %>/delete" method="post">
    <input type="submit" value="Delete"/>
  </form>
  <form action="/my-bucket-list<%=city.id %>/edit" method="get">
    <input type="submit" value="Edit"/>
  </form>
  <% end %></li>


<% end %>
</ul>
