<div class = "car-image">
<div class = "main-text">

<h1>What you have already seen!</h1><h5></h5>
<ol>
  <% @cities.each do |city| if city.visited == 't' %>
  <li class="visit">
  <h2><%= city.name() %> </h2>in
    <%= city.country() %> -
      <%= city.continent.name() %>
      <form action="/city/<%= city.id %>/edit" method="get">
      <input class="button1" type="submit" value="Edit"/>
      <form action="/city/<%= city.id %>/delete" method="post">
      <input class="button1" type="submit" value="Delete"/>
      </form>
      <% end %></li>
      <% end %><br>
</ol>
</div>
</div>